[Desktop Entry]
Version=1.0
Encoding=UTF-8
Terminal=false
Icon=openofficeorg-20-printeradmin.png
Type=Application
Categories=Application;Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=openoffice.org-2.0-printeradmin
Name=OpenOffice.org 2.0 Printer Administration
Name[en]=OpenOffice.org 2.0 Printer Administration
Name[de]=OpenOffice.org 2.0 Drucker Verwaltung
Name[af]=OpenOffice.org 2.0-drukkeradministrasie
Name[ar]=OpenOffice.org 2.0 Drucker Verwaltung
Name[be_BY]=Кіраванне прынтэрам OpenOffice.org 2.0
Name[bg]=Администрация на принтера за OpenOffice.org 2.0
Name[bs]=OpenOffice.org 2.0 administracija štampača
Name[ca]=Administració d'impressió de l'OpenOffice.org 2.0
Name[cs]=Administrace tiskáren OpenOffice.org 2.0
Name[cy]=Gweinyddu Argraffu OpenOffice.org 2.0
Name[da]=OpenOffice.org 2.0-printeradministration
Name[el]=Διαχείριση εκτυπωτή OpenOffice.org 2.0
Name[en_GB]=OpenOffice.org 2.0 Printer Administration
Name[en_ZA]=OpenOffice.org 2.0 Printer Administration
Name[es]=Administración de la impresora de OpenOffice.org 2.0 
Name[et]=OpenOffice.org 2.0-i printerite haldamine
Name[fi]=OpenOffice.org 2.0 - Tulostimen hallinta
Name[fr]=Gestion des imprimantes de OpenOffice.org 2.0
Name[gu_IN]=OpenOffice.org 2.0 પ્રિન્ટરનો વહીહટકર્તા
Name[he]=OpenOffice.org 2.0 Drucker Verwaltung
Name[hi_IN]=OpenOffice.org 2.0 Drucker Verwaltung
Name[hr]=OpenOffice.org 2.0 aAdministracija pisača
Name[hu]=OpenOffice.org 2.0 Nyomtatókezelés
Name[it]=OpenOffice.org 2.0 Gestione stampanti
Name[ja]=OpenOffice.org 2.0 プリンタの管理
Name[km]=ការ​គ្រប់គ្រង​ម៉ាស៊ីន​បោះពុម្ព​ OpenOffice.org 2.0
Name[ko]=OpenOffice.org 2.0 프린터 관리
Name[lt]=„OpenOffice.org 2.0“ spausdintuvo tvarkymas
Name[mk]=Администрирање на печатачи во OpenOffice.org 2.0
Name[nb]=OpenOffice.org 2.0-skriveradministrasjon
Name[nl]=OpenOffice.org 2.0-printerbeheer
Name[nn]=OpenOffice.org 2.0 Printer Administration
Name[nr]=OpenOffice.org 2.0 Ukuphathwa Kwesigadangisi
Name[ns]=OpenOffice.org 2.0 Taolo ya Segatiši
Name[pa_IN]=OpenOffice.org 2.0 ਛਪਾਈ ਪ੍ਰਬੰਧਨ
Name[pl]=OpenOffice.org 2.0 - Zarządzanie drukarką
Name[pt]=OpenOffice.org 2.0 Drucker Verwaltung
Name[pt_BR]=Administrador de impressoras OpenOffice.org 2.0
Name[ru]=OpenOffice.org 2.0 Управление принтером
Name[rw]=Ubugenzuzi bwa Mucapyi OpenOffice.org 2.0
Name[sh_YU]=OpenOffice.org 2.0 podešavanje štampača
Name[sk]=Správa tlačiarní OpenOffice.org 2.0
Name[sl]=Nastavitve tiskalnika OpenOffice.org 2.0
Name[sr_CS]=OpenOffice.org 2.0 подешавање штампача
Name[sv]=OpenOffice.org 2.0-skrivaradministration
Name[sw_TZ]=OpenOffice.org 2.0 Utawala wa Printa
Name[th]=OpenOffice.org 2.0 ดูแลเครื่องพิมพ์
Name[tn]=OpenOffice.org 2.0 Printer Administration
Name[tr]=OpenOffice.org 2.0 Yazıcı Yönetimi
Name[ts]=Vukongomisi bya Printa OpenOffice.org 2.0
Name[vi]=Quản lý Máy in %TÊNSẢNPHẨM
Name[xh]=Ulawulo Lwesishicileli lwe-OpenOffice.org 2.0
Name[zh_CN]=OpenOffice.org 2.0 打印机管理
Name[zh_TW]=OpenOffice.org 2.0 印表機管理
Name[zu]=OpenOffice.org 2.0 Ukuphathwa komshicileli
